.example-card {
    max-width: 400px;
  }
  
  .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 2em; */
    width: 80vw;
  
  }
  .right-section{

    width: 30em;
  }
  .full-width{
    width: 100%;
    display: block;
    margin: 0.5em 0 0 0;
    /* margin-top: 0.5rem; */
  }
  .top-margin{
    margin-top: 1rem;
  }
  button{
    width: 100%;
  }

  .qrcode{
    display: block;
    width: 12em;
    margin: 0 auto;
}
  .sigin{
      width: 100em;
  }
  @media (max-width: 800px) {
    .container {
    
        transform: translateX(4em);

    }
    .img-login{
      display: none;
    }
    .right-section{
      width: 40em;

    }
  }

  