<div>
    <div style="overflow-y: hidden;">
        <div style="display: flex; justify-content: space-between;">
            <h1 class="mat-h1" style="font-weight: 500;">Attendance</h1>
        </div>
        <div style=" display: flex; flex-direction: row">
            <a routerLink="/account/dashboard">
                <h4>Dashboard</h4>
            </a>
            <h4 style="margin-left: 3px;">/ dashboard</h4>
        </div>
    </div>

    <mat-card style="height: auto; margin: 15px 0;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="margin-top: 10px; font-size: 16px;">Welcome <span style="margin-left: 5px;" class="mat-h2">{{ user_name }}!</span></div>
            <div style="display: flex; justify-content: center; align-items: center">
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <div>{{ time | date: "h:mm:ss a" }}</div>
                    <div *ngIf="!time">00:00:00 AM</div>
                    <div>
                        {{ checkName }} at: {{ checkTime | date: "h:mm:ss a" }}
                        <span *ngIf="!checkTime">00:00:00 AM</span>
                    </div>
                </div>
                <div style="margin-left: 20px;">
                    <button *ngIf="!option.emp_attendance_type_id" disabled mat-raised-button style="height: 60px; color: white;" (click)="checkIn()">
                      <mat-icon>keyboard_tab</mat-icon>
                      Clock in
                    </button>

                    <button *ngIf="option.emp_attendance_type_id == '1' || option.emp_attendance_type_id == '3'" [disabled]="disable" mat-raised-button style="height: 60px; background-color: rgb(0, 197, 251); color: white;" (click)="checkIn()">
                      <mat-icon>keyboard_tab</mat-icon>
                      Clock in
                    </button>

                    <button *ngIf="option.emp_attendance_type_id == '2' || option.emp_attendance_type_id == '4'" [disabled]="disable" mat-raised-button color="warn" style="height: 60px; " (click)="checkOut() ">
                        <mat-icon>keyboard_return</mat-icon>
                        Clock out
                      </button>
                </div>
            </div>
        </div>
    </mat-card>
    <div style="display: flex; flex-direction: row;" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-card style="height: auto; margin: 15px 0;">
                <div style="display: flex; align-items: center; flex-direction: row; border-bottom: 1px solid black;  margin-bottom: 10px; padding-bottom: 20px;">
                    <mat-card-content style="margin: 0;">
                        <img width="90px" height="90px" style="border-radius: 90px; border: 2px solid orange;" src="{{ imageURL ? imageURL : '/assets/images/profile_user.png' }}" alt="#">
                    </mat-card-content>
                    <div style="margin: 10px;">
                        <div style="font-weight: 500; font-size: 18px; margin-bottom: 5px;">{{ user_name }}</div>
                        <div class="mat-h5" style="margin: 0;">{{ department }}</div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between;">
                    <div>
                        <h3>Late time</h3>
                        <div style="font-size: 16px; font-weight: 500;">1</div>
                    </div>
                    <div>
                        <h3>Absence</h3>
                        <div style="font-size: 16px; font-weight: 500;">0</div>
                    </div>
                    <div>
                        <h3>Attendance This Month</h3>
                        <div style="font-size: 16px; font-weight: 500;">10 / 30</div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="height: auto; margin: 15px 0;">
                <mat-card-header>
                    <h3 style="font-weight: 500;">Attendance</h3>
                </mat-card-header>
                <mat-card-content>
                    <div id="chart">
                        <apx-chart [series]="columnchartOption.series" [chart]="columnchartOption.chart" [dataLabels]="columnchartOption.dataLabels" [plotOptions]="columnchartOption.plotOptions" [yaxis]="columnchartOption.yaxis" [legend]="columnchartOption.legend" [fill]="columnchartOption.fill"
                            [stroke]="columnchartOption.stroke" [tooltip]="columnchartOption.tooltip" [xaxis]="columnchartOption.xaxis"></apx-chart>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-card style="margin-top: 15px; height: 517px;">
                <mat-card-header>
                    <h3 style="font-weight: 500;">Events</h3>
                </mat-card-header>
                <mat-card-content style="color: orange;">
                    No event today.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
