<div>
    <h1 class="mat-h1">Dashboard</h1>

    <mat-card style="height: auto; margin: 15px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="mat-h2" style="margin-top: 10px;">Welcome USER
                <div>
                    name!
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center">
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <div>{{ time | date: "h:mm:ss a" }}</div>
                    <div *ngIf="!time">00:00:00 AM</div>
                    <div>
                        {{ checkName }} at: {{ checkTime | date: "h:mm:ss a" }}
                        <span *ngIf="!checkTime">00:00:00 AM</span>
                    </div>
                </div>
                <div style="margin-left: 20px;">
                    <button *ngIf="!option.emp_attendance_type_id" disabled mat-raised-button color="primary" style="height: 60px;" (click)="checkIn()">
                      <mat-icon>keyboard_tab</mat-icon>
                      Clock in
                    </button>

                    <button *ngIf="option.emp_attendance_type_id == '1' || option.emp_attendance_type_id == '3'" [disabled]="disable" mat-raised-button color="primary" style="height: 60px;" (click)="checkIn()">
                      <mat-icon>keyboard_tab</mat-icon>
                      Clock in
                    </button>

                    <button *ngIf="option.emp_attendance_type_id == '2' || option.emp_attendance_type_id == '4'" [disabled]="disable" mat-raised-button color="warn" style="height: 60px; " (click)="checkOut() ">
                        <mat-icon>keyboard_return</mat-icon>
                        Clock out
                      </button>
                </div>
            </div>
        </div>
    </mat-card>
    <div style="display: flex; flex-direction: row;">
        <div style="width: 50%;">
            <mat-card style="height: auto; margin: 15px;">
                <div style="display: flex; align-items: center; flex-direction: row; border-bottom: 1px solid black;  margin-bottom: 10px;">
                    <mat-card-content style="margin: 0;">
                        <img width="60px" height="60px" style="border-radius: 60px;" src="https://th.bing.com/th/id/OIP.9nyTpzPgpvxBs2vYCYxytgHaG0?pid=ImgDet&rs=1" alt="#">
                    </mat-card-content>
                    <div style="margin: 10px;">
                        <div style="font-weight: 500; font-size: 18px;">User Name</div>
                        <div>Department</div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between;">
                    <div>
                        <h3>Late time</h3>
                        <div style="font-size: 16px; font-weight: 500;">1</div>
                    </div>
                    <div>
                        <h3>Absence</h3>
                        <div style="font-size: 16px; font-weight: 500;">0</div>
                    </div>
                    <div>
                        <h3>Attendance</h3>
                        <div style="font-size: 16px; font-weight: 500;">10</div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="height: 250px; margin: 15px;">
                <mat-card-header>
                    <h3 style="font-weight: 500;">Notices</h3>
                </mat-card-header>
                <mat-card-content>
                    Text content
                </mat-card-content>
            </mat-card>
        </div>
        <div style="width: 50%;">
            <mat-card style="height: 87%; margin: 15px;">
                <mat-card-header>
                    <h3 style="font-weight: 500;">Events</h3>
                </mat-card-header>
                <mat-card-content>
                    Text content
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>