<div style="padding: 10px 5px 15px; display: flex; ;flex-direction:column;justify-content: center; align-items:center">
    <h1 mat-dialog-title>Re-login or go to Dashboard?</h1>
    <form>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button type="submit" (click)="logout()" mat-raised-button
                style="background-color: rgb(21, 107, 204); color: #fff;">Log in</button>
            <a routerLink="/account/dashboard" style="margin-left: 20px;" (click)="close()">
                <button type="submit" mat-raised-button
                    style="background-color: rgb(9, 221, 150);color: #fff; ">Dashboard
                </button>
            </a>
        </div>
    </form>
</div>