<div style="width: 30vw; padding: 1em">
    <h1 mat-dialog-title>Department</h1>
    <form>
        <div mat-dialog-content>
            <div>
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <mat-label>Input Attendance Type Name</mat-label>
                    <input type="text" aria-label="Name" matInput required [(ngModel)]="attendanceType.name" [formControl]="name" name="name">
                    <mat-error>{{ getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button type="submit" mat-raised-button color="primary" (click)="updateAttendanceType()">Update</button>
        </div>
    </form>
</div>