<div style="width: 30vw; padding: 1em">
    <h1 mat-dialog-title>Leave Admin</h1>
    <div mat-dialog-content>
        <span>Status: </span>
        <input type="hidden" />
        <button mat-raised-button color="primary" disabled="" style="padding: 0px 8px;margin-bottom: 12px; color: #3f51b5;">Approved</button>
        <div>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                <mat-label>Select email</mat-label>
                <input type="text" [(ngModel)]="user_email" aria-label="Name" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" style="width: 100%;">

            <mat-label>Select Leave Type</mat-label>
            <mat-select disableRipple [(value)]="empLeave.emp_leave_reason_id">
                <mat-option *ngFor="let leaveType of leaveTypes" value="{{ leaveType.id }}">{{ leaveType.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!--Date-->
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]=" picker">
                    <input [min]="minDate" [max]="maxDate" matStartDate placeholder="Start date" [(ngModel)]="empLeave.start">
                    <input matEndDate placeholder="End date" [(ngModel)]="empLeave.end">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." style="width: 100%;height: 100px;" [(ngModel)]="empLeave.description"></textarea>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Cancel</button>
        <button mat-raised-button color="primary" style="background-color: green" (click)="createLeave()">APPLY</button>
    </div>
</div>
