table {
    width: 100%;
}

th {
    text-align: center !important;
}

td {
    text-align: center !important;
    border-left: 1px solid #e0e0e0;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding: 0 !important;
}

.mat-column-total {
    width: 600px;
}

.mat-column-name {
    width: 480px;
}

td.mat-column-star,
td.mat-cell {
    text-align: center;
    border-left: 1px solid #e0e0e0;
    width: 160px;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}


/** Sticky head **/

.mat-cell {
    position: static;
    z-index: 100;
}

.mat-column-id {
    position: sticky;
    z-index: 200;
    background-color: white;
    text-align: center;
}

.mat-column-name {
    position: sticky;
    z-index: 200;
    background-color: white;
}

.mat-column-total {
    position: sticky;
    z-index: 200;
    background-color: white;
}

.mat-header-cell {
    position: sticky;
    z-index: 300;
    top: 0;
    background-color: #f9fafb;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(0, 197, 251);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 37, 37);
}


/** Fill input **/


/* iput color */


/* input.mat-input-element {
    color: red;
} */

i {
    margin: 0 !important;
    padding: 2px;
}
