/** Leave information form **/

.description-form {
    width: 100%;
}

.description-full-width {
    width: 100%;
}


/** Other leave table section **/

.table__section {
    width: 100%;
    border-bottom: 1px solid rgb(30, 140, 243);
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-header-cell {
    font-weight: 600;
}

.mat-header-cell {
    background-color: #f9fafb;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}