<div style="width: 22vw; padding: 1em">
    <h1 mat-dialog-title>Personal Information</h1>
    <form>
        <div mat-dialog-content>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Phone Number</mat-label>
                <input matInput required [(ngModel)]="personal.phone" name="phone">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nationality</mat-label>
                <input matInput required [(ngModel)]="personal.nationality" name="nationality">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Religion</mat-label>
                <input matInput [(ngModel)]="personal.religion" name="religion">
            </mat-form-field>

            <label for="married">Are you married?</label>
            <mat-radio-group [(ngModel)]="personal.is_married" name="married">
                <mat-radio-button style="margin-left: 10px;" [value]="true" name="radio1">
                    Yes
                </mat-radio-button>
                <mat-radio-button style="margin-left: 5px;" [value]="false" name="radio2">No
                </mat-radio-button>

            </mat-radio-group>

        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button type="submit" mat-raised-button color="primary" (click)="updatePersonalInfo()">OK</button>
        </div>
    </form>


</div>