h4,
h3 {
    margin: 0;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}


/* card */


/* .card-employee a:hover {
    transform: scale(1.02);
    box-shadow: #2986cc;
} */

.card-employee img:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
}

.disable {
    display: none;
}
