<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer style="border-right: 1px solid #907220;" class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="height: 120px; display: flex; align-items: center; padding: 0; justify-content: center;">
            <img height="80px" src="/assets/images/allweb.png" alt="#" routerLink="">
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>dashboard</mat-icon>
                <span style="padding-left: 5px;">Dashboard</span>
            </a>
            <mat-list style="padding: 0;">
                <mat-list-item (click)="showSubmenu = !showSubmenu">
                    <div style="display: flex; align-items: center;">
                        <mat-icon>people</mat-icon>
                        <span style="padding-left: 5px;">Employees</span>
                    </div>
                    <button mat-icon-button>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">arrow_drop_up</mat-icon>
                  </button>
                </mat-list-item>
                <div style="padding: 0 0 0 40px;" class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                    <mat-list-item>
                        <a style="margin:0 -60px 0 -16px; padding: 10px 3.3rem 10px 16px" routerLink="/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h4>All Employee</h4>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-left: -16px; padding: 10px 6rem 10px 16px" routerLink="/employee/leave" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Leave</h3>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-left: -16px; padding: 10px 3.2rem 10px 16px" routerLink="/employee/department" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Department</h3>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-left: -16px; padding: 10px 4rem 10px 16px" routerLink="/employee/position" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Position</h3>
                        </a>
                    </mat-list-item>
                </div>
            </mat-list>
            <a mat-list-item routerLink="/attendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>date_range</mat-icon>
                <span style="padding-left: 5px;">Attendance</span>
            </a>
            <mat-list style="padding: 0;">
                <mat-list-item (click)="showReport = !showReport">
                    <div style="display: flex; align-items: center;">
                        <mat-icon>bar_chart</mat-icon>
                        <span style="padding-left: 5px;">Reports</span>
                    </div>
                    <button mat-icon-button>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showReport}">arrow_drop_up</mat-icon>
                  </button>
                </mat-list-item>
                <div style="padding: 0 0 0 40px;" class="submenu" [ngClass]="{'expanded' : showReport}">
                    <mat-list-item>
                        <a style="margin:0 -60px 0 -16px; padding: 10px 3.4rem 10px 16px" routerLink="/report/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h4>Employee</h4>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-left: -16px; padding: 10px 4rem 10px 16px" routerLink="/report/attendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Attendance</h3>
                        </a>
                    </mat-list-item>
                </div>
            </mat-list>
            <mat-list style="padding: 0;">
                <mat-list-item (click)="showSetting = !showSetting">
                    <div style="display: flex; align-items: center;">
                        <mat-icon>settings</mat-icon>
                        <span style="padding-left: 5px;">Setting</span>
                    </div>
                    <button mat-icon-button>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSetting}">arrow_drop_up</mat-icon>
                  </button>
                </mat-list-item>
                <div style="padding: 0 0 0 40px;" class="subsetting" [ngClass]="{'expanded' : showSetting}">
                    <mat-list-item>
                        <a style="margin: -16px; padding: 10px 4rem 10px 16px;" routerLink="/leave type" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Leave type</h3>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin: -16px; padding: 10px 1.25rem 10px 16px;" routerLink="/change password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h4>Change password</h4>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <!-- <mat-icon>people</mat-icon> -->
                            <h3>Employee</h3>
                        </a>
                    </mat-list-item>
                </div>
            </mat-list>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #204290; color: white; position: sticky; top: 0; z-index: 999; display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; flex-direction: row">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" (click)="rotate = !rotate">
                <!--ngIf="isHandset$ | async"  close when big-->
                <mat-icon class="menu-hamburger" [ngClass]="{'rotated': rotate}" aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
                <h3 style="margin-left: 10px;">ADMIN DASHBOARD</h3>
            </div>
            <ul style="list-style-type: none;">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" style="height: 66px;">
                      <!-- <mat-icon>account_circle</mat-icon> -->
                      <div style="display: flex; align-items: center">
                        <img height="30px" width="30px" style="border: 2px solid #F89926; border-radius: 30px;" src="https://th.bing.com/th/id/OIP.GlXqxcR9EmviN5kuwaUsMQHaIB?pid=ImgDet&rs=1" alt="#">
                        <h6 style="margin-left: 10px;">Admin</h6>
                      </div>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/employee/detail/1">My profile</button>
                        <button mat-menu-item routerLink="/change password">Setting</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </li>
            </ul>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
