/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    margin-top: 30px !important;
}

a {
    color: rgb(74, 77, 81);
    text-decoration: none;
}

a:hover {
    color: rgb(132, 131, 131);
}


/** Snack bar **/

.blue-snackbar {
    background-color: #3bbd9f;
    color: #fff;
}

.red-snackbar {
    background-color: #ff5158;
    color: #fff;
}

.warn-snackbar {
    background-color: rgb(16, 88, 165);
    color: white;
}


/** Actions table **/

.mat-column-status {
    text-align: center !important;
    margin: 0 !important;
}

.mat-column-actions {
    width: 15%;
    text-align: center !important;
    padding-left: 20px !important;
    font-weight: bold;
}

i {
    margin-right: 5px;
}


/* .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: #fafafa !important;
    border-radius: 5px;
} */


/* Angular Material Overrides */

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ccc;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .65em 0;
}

.mat-form-field-label-wrapper {
    top: -1.2em;
}

.mat-form-field-wrapper {
    padding: 0;
}
