/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    margin-top: 30px !important;
}

a {
    color: rgb(74, 77, 81);
    text-decoration: none;
}

a:hover {
    color: rgb(132, 131, 131);
}

.blue-snackbar {
    background-color: #3bbd9f;
    color: #fff;
}

.red-snackbar {
    background-color: #ff5158;
    color: #fff;
}

.warn-snackbar {
    background-color: rgb(16, 88, 165);
    color: white;
}
