<div *ngFor="let employee of employees">
    <div>
        <h2 style="font-weight: 600;">Employee</h2>
        <div style="display: flex; flex-direction: row">
            <a routerLink="/employee">
                <h4>Employee</h4>
            </a>
            <h4 style="margin-left: 3px;">/ Detail</h4>
        </div>
        <mat-card style="display: flex; flex-direction: row">
            <div
                style="display: flex; flex-direction: row; align-items:center;width : 50%; border-right: 1px solid rgba(0,0,0,.7); padding: 0 20px;">
                <div>
                    <img width="200px" height="200px" style="border-radius: 100px;"
                        src="{{ employee.imageURL ? employee.imageURL : '/assets/images/profile_user.png' }}" alt="#">
                </div>
                <button mat-icon-button>
                    <mat-icon style="color: white; background-color: orange; border-radius: 100%; padding: 5px; ">edit
                    </mat-icon>
                </button>
                <div
                    style="margin-left: 40px;width: 100%; display: flex;justify-content: space-around; align-items: flex-start;">
                    <div class="emp-detail-profile">
                        <h3>Full Name : </h3>
                        <h3>Position : </h3>
                        <h3>Department : </h3>
                        <h3>Employee Id : </h3>
                        <h3>Joined Date :</h3>
                    </div>
                    <div>
                        <h3>{{employee.lastName + " " + employee.firstName }}</h3>
                        <h3> {{ employee.position }}</h3>
                        <h3>{{ employee.department }}</h3>
                        <h3>{{ employee.id }}</h3>
                        <h3>{{ employee.joinDate.date | date: "yyyy-MM-dd" }}</h3>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; width: 50%; padding: 0 20px;">
                <table>

                    <tr>
                        <td>Email</td>
                        <td>{{ employee.email }}</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>{{ employee.dateOfBirth.date | date: "yyyy-MM-dd" }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ employee.address }}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{ employee.gender }}</td>
                    </tr>
                </table>
                <button mat-icon-button>
                    <mat-icon style="color: rgb(45, 224, 90); ">add_box
                    </mat-icon>
                </button>
            </div>
        </mat-card>
        <ng-container *ngIf="(asyncTabs | async) === null">
            <img height="50px" width="60px" src="https://c.tenor.com/k3VfwdRd6cEAAAAi/loading-load.gif" alt="">
        </ng-container>

        <mat-tab-group>
            <mat-tab *ngFor="let tab of asyncTabs | async">
                <ng-template mat-tab-label style="color: red;">{{tab.label}}</ng-template>
                <div *ngIf="tab.content === '1'">
                    <app-profile-user [employees]="employees"></app-profile-user>
                </div>
                <div *ngIf="tab.content==='2' ">
                    <app-project-user></app-project-user>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>